<div class="dude large-6 columns">
  <header><h3>John Skehan</h3></header>
  <div class="bio">
    <img src="<%= asset_path 'skehan.jpg' %>" />
    <p>
      John Skehan is a classically trained piano player that took up the mandolin shortly before Railroad Earth got together in 2000.  His mando style often reflects this pianistic, textural style and he's known to spend way too much time in the bathrooms of hotels practicing Bach and shit.  This is the primary reason for the premature graying of many of his bandmates' hair.
    </p>
  </div>
</div>
<div class="dude large-6 columns">
  <header><h3>Andy Goessling</h3></header>
  <div class="bio">
    <img src="<%= asset_path 'andy.jpg' %>" />
    <p>
      Andy grew up as one of the youngest of something like 42 kids and was drafted into one of his older brother's bands when he was 4 years old.  He's known as "the right brain of Railroad Earth", and is close personal friends with numerous TSA agents the world over.  He gets back to his bluegrass roots in the Shockenaw Mountina Boys with the guitar, mando, and banjo.
    </p>
  </div>
</div>
<div class="dude large-6 columns timmy">
  <header><h3>Tim Carbone</h3></header>
  <audio src="/timmy.mp3" volume="0.2"></audio>
  <div class="bio">
    <img src="<%= asset_path 'tim.jpg' %>" />
    <p>
      Violinist.  Producer.  Raconteur.  Many words describe an aspect of Tim Carbone, but none can capture the sweeping breadth of talent embodied in the man.  He's played shows from the deepest hole in Birmingham, AL to playing for his holyness, the Dalai Lama himself.  But if you really want to get to know Tim Carbone, buy him a beer and ask him about his passion for the Boston Red Sox.
    </p>

  </div>
</div>
<div class="dude large-6 columns">
  <header><h3>Johnny Grubb</h3></header>
  <div class="bio">
    <img src="<%= asset_path 'grubb.jpg' %>" />
    <p>
      Johnny Grubb is a renaissance man - a father of 3 beautiful boys, husband to a beautiful wife, world famous bluegrass musician, computer programmer, and all around really great guy to be around at all times.  His wife will attest to this.  He is also the author of this website, and of all these band bios, and clearly misses his former RRE bandmates quite a lot.
    </p>

  </div>
</div>
