<div class="dude large-6 columns">
  <header><h3>John Skehan</h3></header>
  <div class="bio">
    <p>
      Pri ad diam nostro. Ne mutat laudem scriptorem his, vix cu possit persius, ut mollis offendit intellegebat vim. Nam id novum vocibus habemus, similique sententiae ad pro, est ex errem dicam fierent. Has agam dicam offendit id, cu mea dico tempor instructior. Pri et ponderum ullamcorper. Mei nusquam probatus mediocritatem ne.
    </p>

    <img src="<%= asset_path 'skehan.jpg' %>" />
    <p>
      Graeci lucilius mea ne. An utinam tibique repudiare eum. Vis ad vero vocent facilisis, id eos impedit gubergren conceptam. Ea movet equidem patrioque sit, vidisse torquatos referrentur ad vim, id sit melius commodo mentitum. Diam nonumes ex his, id hinc partem causae cum. Mei at aeterno iracundia, ius affert mediocrem ad.
    </p>
  </div>
</div>
<div class="dude large-6 columns">
  <header><h3>Andy Goessling</h3></header>
  <div class="bio">
    <p>
      Pri ad diam nostro. Ne mutat laudem scriptorem his, vix cu possit persius, ut mollis offendit intellegebat vim. Nam id novum vocibus habemus, similique sententiae ad pro, est ex errem dicam fierent. Has agam dicam offendit id, cu mea dico tempor instructior. Pri et ponderum ullamcorper. Mei nusquam probatus mediocritatem ne.
    </p>

    <img src="<%= asset_path 'andy.jpg' %>" />
    <p>
      Graeci lucilius mea ne. An utinam tibique repudiare eum. Vis ad vero vocent facilisis, id eos impedit gubergren conceptam. Ea movet equidem patrioque sit, vidisse torquatos referrentur ad vim, id sit melius commodo mentitum. Diam nonumes ex his, id hinc partem causae cum. Mei at aeterno iracundia, ius affert mediocrem ad.
    </p>
  </div>
</div>
<div class="dude large-6 columns">
  <header><h3>Tim Carbone</h3></header>
  <div class="bio">
    <p>
      Pri ad diam nostro. Ne mutat laudem scriptorem his, vix cu possit persius, ut mollis offendit intellegebat vim. Nam id novum vocibus habemus, similique sententiae ad pro, est ex errem dicam fierent. Has agam dicam offendit id, cu mea dico tempor instructior. Pri et ponderum ullamcorper. Mei nusquam probatus mediocritatem ne.
    </p>

    <img src="http://placekitten.com/g/470/180" />
    <p>
      Graeci lucilius mea ne. An utinam tibique repudiare eum. Vis ad vero vocent facilisis, id eos impedit gubergren conceptam. Ea movet equidem patrioque sit, vidisse torquatos referrentur ad vim, id sit melius commodo mentitum. Diam nonumes ex his, id hinc partem causae cum. Mei at aeterno iracundia, ius affert mediocrem ad.
    </p>
  </div>
</div>
<div class="dude large-6 columns">
  <header><h3>Johnny Grubb</h3></header>
  <div class="bio">
    <p>
      Pri ad diam nostro. Ne mutat laudem scriptorem his, vix cu possit persius, ut mollis offendit intellegebat vim. Nam id novum vocibus habemus, similique sententiae ad pro, est ex errem dicam fierent. Has agam dicam offendit id, cu mea dico tempor instructior. Pri et ponderum ullamcorper. Mei nusquam probatus mediocritatem ne.
    </p>

    <img src="http://placekitten.com/g/470/180" />
    <p>
      Graeci lucilius mea ne. An utinam tibique repudiare eum. Vis ad vero vocent facilisis, id eos impedit gubergren conceptam. Ea movet equidem patrioque sit, vidisse torquatos referrentur ad vim, id sit melius commodo mentitum. Diam nonumes ex his, id hinc partem causae cum. Mei at aeterno iracundia, ius affert mediocrem ad.
    </p>
  </div>
</div>
