<div class="dude large-6 columns">
  <header><h3>John Skehan</h3></header>
  <div class="bio">
    <img src="<%= asset_path 'skehan.jpg' %>" />
    <p>
      Pri ad diam nostro. Ne mutat laudem scriptorem his, vix cu possit persius, ut mollis offendit intellegebat vim. Nam id novum vocibus habemus, similique sententiae ad pro, est ex errem dicam fierent. Has agam dicam offendit id, cu mea dico tempor instructior. Pri et ponderum ullamcorper. Mei nusquam probatus mediocritatem ne.
    </p>
  </div>
</div>
<div class="dude large-6 columns">
  <header><h3>Andy Goessling</h3></header>
  <div class="bio">
    <img src="<%= asset_path 'andy.jpg' %>" />
    <p>
      Pri ad diam nostro. Ne mutat laudem scriptorem his, vix cu possit persius, ut mollis offendit intellegebat vim. Nam id novum vocibus habemus, similique sententiae ad pro, est ex errem dicam fierent. Has agam dicam offendit id, cu mea dico tempor instructior. Pri et ponderum ullamcorper. Mei nusquam probatus mediocritatem ne.
    </p>
  </div>
</div>
<div class="dude large-6 columns">
  <header><h3>Tim Carbone</h3></header>
  <div class="bio">
    <p>
      Pri ad diam nostro. Ne mutat laudem scriptorem his, vix cu possit persius, ut mollis offendit intellegebat vim. Nam id novum vocibus habemus, similique sententiae ad pro, est ex errem dicam fierent. Has agam dicam offendit id, cu mea dico tempor instructior. Pri et ponderum ullamcorper. Mei nusquam probatus mediocritatem ne.
    </p>

    <img src="http://placekitten.com/g/470/180" />
  </div>
</div>
<div class="dude large-6 columns">
  <header><h3>Johnny Grubb</h3></header>
  <div class="bio">
    <p>
      Pri ad diam nostro. Ne mutat laudem scriptorem his, vix cu possit persius, ut mollis offendit intellegebat vim. Nam id novum vocibus habemus, similique sententiae ad pro, est ex errem dicam fierent. Has agam dicam offendit id, cu mea dico tempor instructior. Pri et ponderum ullamcorper. Mei nusquam probatus mediocritatem ne.
    </p>

    <img src="http://placekitten.com/g/470/180" />
  </div>
</div>
