$white: #F2EEE4
$rust: #703F35

body
  background: $white

#logo h1
  font-family: 'Sancreek'
h2, h3, h4, h5
  font-weight: normal
  color: $rust

section
  padding: 1em 0 2em
  h2, h3
    font-family: 'Sancreek'
    text-shadow: 1px 1px 5px #666

h2.section-header
  text-align: center

#logo h1 a
  color: $rust

#info, #news
  background: $rust image_url('background.png') left bottom repeat
  color: $white
  h2, h3, h4, h5
    color: $white
    text-shadow: none
#dudes
  background: #D8C19F

table#shows
  width: 100%
  background: inherit
  background: rgba(255,255,255,0.1)
  box-shadow: inset 0 0 25px rgba(255,255,255,0.3)
  border: none
  border-radius: 3px
  tr
    background: none
  tr td
    color: $white
    background: none
    vertical-align: top
  p
    margin-bottom: 0

footer
  margin: 2em 0
  #footer-links
    text-align: center
    font-size: 12px
